SECRET_KEY=change-me-in-local-dev
SEC_USER_AGENT=FilingDesk intelligentinvestorvalue@gmail.com
FLASK_DEBUG=1
SYNC_MAX_FILINGS=40
SCHEDULER_ENABLED=1
US_SYNC_INTERVAL_MINUTES=60
IN_SYNC_INTERVAL_MINUTES=90
US_SYNC_DAYS=7
US_SYNC_MAX_FILINGS=25
IN_SYNC_DAYS=120
